<h1>Hello World! from Index</h1>


<a href="/demo/hello">Hello page 1</a><br />
<%=	 link_to('Hello page 2', {:controller => 'demo', :action => 'hello'})%> <br />

<%=	 link_to('Hello with parameters', {:controller => 'demo', :action => 'hello', :page => 5, :id => 20})%> <br />